{% extends 'base.html.twig' %}

{% block body %}

<div class="off-canvas-wrapper">
	<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        {{ include('install/navigation.html.twig') }}
		<div class="off-canvas-content" data-off-canvas-content>
			
			<div class="callout primary">
			
			<div class="medium-4 columns">
				<img src="{{ asset('image/start_logo.min.png') }}" alt="Pealer logo">
			</div>
			<div class="medium-8 columns text-left"></div>
			
			<div class="row column"></div>
			</div>
			<div class="row small-up-2 medium-up-3 large-up-4">
				<p>row small-up-2 medium-up-3 large-up-4</p>
			</div>
			<hr>
			<div class="row">
				<div class="medium-6 columns">
					<h3>Left</h3>
					<p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor.</p>	
				</div>
				<div class="medium-6 columns">
					<h3>right</h3>
					<p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor.</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
